body{
    background-color: rgb(202, 190, 190);
}

*{
    border-radius: 5%;
}

.container{
    height: 100%;
    padding: 5%;
    justify-content: center;
    border:rgb(118, 192, 8) 5px solid;
    background-color: white;
    border-radius: 0;
}
input{
    width: 100%;
    
}



label{
    width: 100%;
    text-align: right;
}

h2,h4{
    text-align: center;
   background-color: white;
   border-style: groove;
   border-radius: 50%;
   padding: 3%;
   color: indigo;
}
img{
    border-radius: 50%;
    align-self: center;
    
    border: 2px solid white;
}

#img_holder{
    border:5px solid;
    border-radius: 0;
   
}

#content_holder{
   
    border: 5px solid;
    padding: 10%;

}

span{
    color: red;
    font-weight: bold;
    font-size: larger;
}

.col-12{
    border:5px solid;
    padding: 5%;
  
    border-radius: 0;
    
   
}

#sub_btn:hover{
    background-color: green;
   
    border-radius: 20px;
}

#can_btn:hover{
    background-color: rgb(199, 29, 29);
   
    border-radius: 20px;
}

.container{
    border: initial;
}

#event_no,#seats_no{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    
}

label{

    color: white;
    font-weight: bold;
    
}

select{
    width: 50%;
}


input{
    border: none;
    border-bottom: 1px solid;
}

